parameters:
	# slowly increase
	level: 4
	paths:
		- src/
		- tests/
		- examples/

	typeAliases:
		PHPStanTypeAlias_InternalOptions: 'array<string, bool|int|null|\alsvanzelf\jsonapi\enums\ContentTypeEnum>'
	
	treatPhpDocTypesAsCertain: false
	
	strictRules:
		allRules: false
	
	reportUnmatchedIgnoredErrors: true
	ignoreErrors:
		# add cases to ignore because they are too much work for now
		# @see https://phpstan.org/user-guide/ignoring-errors#ignoring-in-configuration-file
